#
# Python requirements to be pulled from pypi as part of build
#

# +---------------------------------------------------------------------------+
# | RUNTIME DEPENDENCIES
# +---------------------------------------------------------------------------+
pyserial

# +---------------------------------------------------------------------------+
# | OPTIONAL RUNTIME DEPENDENCIES
# +---------------------------------------------------------------------------+

# +---------------------------------------------------------------------------+
# | DEVELOPER DEPENDENCIES
# +---------------------------------------------------------------------------+
autopep8
# Useful for vscode development
rope
doc8

# +---------------------------------------------------------------------------+
# | TEST AND BUILD DEPENDENCIES
# +---------------------------------------------------------------------------+
pytest ~= 3.3
pytest-asyncio
pytest-timeout
flake8
coverage
mypy
tox

# +---------------------------------------------------------------------------+
# | DOCUMENTATION AND REPORTING DEPENDENCIES
# +---------------------------------------------------------------------------+
sphinx >= 1.8.5
sphinx-argparse
sphinx_rtd_theme
codacy-coverage
lxml

# +---------------------------------------------------------------------------+
# | PACKAGING AND DISTRIBUTION DEPENDENCIES
# +---------------------------------------------------------------------------+
twine
wheel
