#
# Python requirements to be pulled from pypi as part of build
#

# +---------------------------------------------------------------------------+
# | RUNTIME DEPENDENCIES
# +---------------------------------------------------------------------------+
pyserial
argcomplete
pyyaml
pytest

# +---------------------------------------------------------------------------+
# | OPTIONAL RUNTIME DEPENDENCIES
# +---------------------------------------------------------------------------+

# +---------------------------------------------------------------------------+
# | DEVELOPER DEPENDENCIES
# +---------------------------------------------------------------------------+
autopep8
rope
isort

# +---------------------------------------------------------------------------+
# | TEST AND BUILD DEPENDENCIES
# +---------------------------------------------------------------------------+
pytest-asyncio
pytest-timeout
flake8
coverage
mypy
tox
Sybil

# +---------------------------------------------------------------------------+
# | DOCUMENTATION AND REPORTING DEPENDENCIES
# +---------------------------------------------------------------------------+
sphinx >= 1.8.5
sphinx-argparse
sphinx_rtd_theme
lxml

# +---------------------------------------------------------------------------+
# | PACKAGING AND DISTRIBUTION DEPENDENCIES
# +---------------------------------------------------------------------------+
twine
wheel
